<%- include("./partials/header.ejs") %>
    
    <article>
    <h2 id="inteligencia">Inteligencia Artificial, conceptos fundamentales</h2>
    <h3>¿Qué es la inteligencia?</h3>
    <p>La inteligencia se ha definido de muchas maneras, incluyendo: la capacidad de lógica, comprensión, autoconciencia, aprendizaje, conocimiento emocional, razonamiento, planificación, creatividad, pensamiento crítico y resolución de problemas. En términos más generales, se puede describir como la capacidad de percibir o inferir información, y retenerla como conocimiento para aplicarlo a comportamientos adaptativos dentro de un entorno o contexto.
    Algunas definiciones de investigadores de la psicología y el aprendizaje:</p>
    <ul>
        <li><strong>Ch. Spearman:</strong> Capacidad unitaria para resolver problemas y crear nuevos contenidos.</li>
        <li><strong>L. G. Humphreys:</strong> Conjunto de habilidades para adaptarse al entorno.</li>
        <li><strong>L. S. Gottfredson:</strong>  Capacidad mental general que incluye la habilidad de razonar, planificar, resolver problemas, pensar en abstracto, comprender ideas complejas, aprender rápido y aprender de la experiencia, que es más que una destreza académica o del aprendizaje por medio de libros.</li>
    </ul>
    
    <h3 id="IA">¿Qué es la inteligencia artificial?</h3>
    <p>La Inteligencia Artificial se refiere a la capacidad de las máquinas para realizar tareas que normalmente requieren inteligencia humana. Esto incluye el aprendizaje, el razonamiento, la percepción, la comprensión del lenguaje natural y la toma de decisiones. En esencia, la IA busca imitar las capacidades cognitivas humanas utilizando algoritmos y datos.</p>
    <p>
        <ol>
            <li><strong>Aprendizaje Automático (Machine Learning):</strong> Es una subdisciplina de la IA que se centra en el desarrollo de algoritmos que permiten a las máquinas aprender patrones y tomar decisiones basadas en datos sin una programación explícita.</li>
            <li><strong>Redes Neuronales Artificiales:</strong> Inspiradas en la estructura del cerebro humano, las redes neuronales artificiales son modelos computacionales que pueden aprender y realizar tareas complejas como reconocimiento de patrones y procesamiento de lenguaje natural.</li>
            <li><strong>Procesamiento del Lenguaje Natural (NLP):</strong> Se refiere a la capacidad de las computadoras para entender, interpretar y generar lenguaje humano de manera similar a los seres humanos.</li>
            <li><strong>Visión por Computadora:</strong> Implica el desarrollo de sistemas que pueden interpretar y comprender el contenido visual, como imágenes y videos.</li>
        </ol>
    </p>    
    <h3 id="diferencias">Diferencias entre Inteligencia Artificial e Inteligencia Natural</h3>
    <p>La principal diferencia entre la inteligencia artificial y la inteligencia natural radica en su origen y naturaleza.</p>
    
    <h3 id="origen">Origen</h3>
    <p>
        <ul>
            <li><strong>Inteligencia Artificial:</strong> Es creada por humanos a través del diseño y la programación de sistemas informáticos.</li>
            <li><strong>Inteligencia Natural:</strong> Es inherente a los seres vivos, especialmente a los humanos, y se desarrolla a través de procesos biológicos y experiencia.</li>
        </ul>
    </p>
    
    <h3 id="naturaleza">Naturaleza</h3>
    <p>
        <ul>
            <li><strong>Inteligencia Artificial:</strong> Se basa en algoritmos y datos para imitar el comportamiento humano en tareas específicas. A menudo es especializada y puede carecer de comprensión profunda o conciencia.</li>
            <li><strong>Inteligencia Natural:</strong> Es inherentemente compleja y abarca una amplia gama de habilidades cognitivas, emocionales y sociales. Se desarrolla a lo largo del tiempo a través de la interacción con el entorno y la experiencia.</li>
        </ul> 
    </p>
    <%- include("./partials/buttons.ejs") %>
    </article>  

