<%- include("./partials/header.ejs") %>
    
    <article>
    <h2>¿En qué casos usar ChatGPT?</h2>
    <h3>Buenas situaciones donde se puede utilizar ChatGPT:</h3>
    <ul>
        <li>Generando Texto</li>
        <li>Generando Ideas</li>
        <li>Continuando líneas de pensamiento</li>
        <li>Generando Código</li>
        <li>Actuando como un profesional</li>
    </ul>
    
    <h3>Malas situaciones donde utilizar ChatGPT:</h3>
    <ul>
        <li>Matemáticas</li>
        <li>Sin datos de ejemplos</li>
        <li>Actualidad (Finales de 2021)</li>
        <li>Preguntas sesgadas.</li>
    </ul>
    <%- include("./partials/buttons.ejs") %>
    </article>  

<%- include("./partials/footer.ejs") %>