<%- include("./partials/header.ejs") %>
    
    <article>
    <h2 id="50s">Historia de la inteligencia artificial. Inicio y actualidad</h2>
    <h3>Década de 1950</h3>
    <p>Alan Turing, pionero en ciencias de la computación, propuso en <strong>1950</strong> una prueba para determinar si una máquina puede exhibir un comportamiento inteligente equivalente al de un ser humano. Esta prueba, conocida como la Prueba de Turing, sigue siendo un concepto fundamental en el campo de la IA y ha estimulado debates sobre la naturaleza de la inteligencia y la capacidad de las máquinas para replicarla.</p>
    <p>En <strong>1952</strong>, Arthur Samuel creó un software capaz de aprender a jugar al ajedrez de forma autónoma.
    </p>
    <p>El término "inteligencia artificial" fue acuñado por John McCarthy en <strong>1956</strong> durante una conferencia en Dartmouth College. Este evento marcó el inicio oficial del campo de la IA y reunió a destacados científicos de diversas disciplinas para explorar el potencial de las máquinas para exhibir comportamientos inteligentes.</p>
    <p>En <strong>1959</strong>, Arthur Samuel acuñó el término Machine Learning mientras trabajaba en IBM. Por su parte, John McCarthy y Marvin Minsky fundaron el MIT Artificial Intelligence Project.</p>
    
    <h3 id="60s">Década de 1960-1970</h3>
    <p>En <strong>1963</strong>, John McCarthy también creó el «AI Lab» en la Universidad de Stanford.</p>
    <p>En <strong>1966</strong>, el informe estadounidense ALPAC puso de manifiesto la falta de avances en la investigación de la traducción automática destinada a traducir simultáneamente la lengua rusa en el contexto de la Guerra Fría.
    <p>Muchos proyectos financiados por el gobierno estadounidense fueron cancelados.</p>
    <p>Del mismo modo, en <strong>1973</strong>, el gobierno británico publicó su informe Lighthill en el que destacaba las decepciones de la investigación en IA. Una vez más, los proyectos de investigación fueron reducidos por los recortes presupuestarios. Este periodo de duda duró hasta 1980, y ahora se denomina el <strong>primer invierno(crisis) de la IA.</strong></p>
        
    <h3 id="80s">Década de 1980</h3>
    <p>La década de <strong>1980</strong> presenció un auge en la investigación y aplicación de la IA en áreas como el procesamiento del lenguaje natural, la visión por computadora y los sistemas expertos. Los sistemas expertos, en particular, se convirtieron en una aplicación popular de la IA en campos como la medicina, la ingeniería y la gestión empresarial.</p>
    <p>En <strong>1985</strong> se desarrolla el sistema DENDRAL, que utiliza técnicas de inteligencia artificial para identificar estructuras moleculares desconocidas.</p>
    <p>En <strong>1987</strong> Martin Fischles y Oscar Firschein describieron los atributos de un agente inteligente. Al intentar describir con un mayor ámbito (no solo la comunicación) los atributos de un agente inteligente, la IA se ha expandido a muchas áreas que han creado ramas de investigación enormes y diferenciadas. Dichos atributos del agente inteligente son:</p>
    <ol>
        <li>Tiene actitudes mentales tales como creencias e intenciones.</li>
        <li>Tiene la capacidad de obtener conocimiento, es decir, aprender.</li>
        <li>Puede resolver problemas, incluso descomponiendo problemas complejos en otros más simples.</li>
        <li>Capaz de realizar operaciones más complejas.</li>
        <li>Entiende.</li>
        <li>Planifica.</li>
        <li>Conoce los límites de sus propias habilidades y conocimientos.</li>
        <li>Puede distinguir a pesar de la similitud de las situaciones.</li>
        <li>Puede ser original, creando incluso nuevos conceptos o ideas, y hasta utilizando analogías.</li>
        <li>Puede generalizar.</li>
        <li>Puede percibir y modelar el mundo exterior.</li>
        <li>Puede entender y utilizar el lenguaje y sus símbolos.</li>
    </ol>
    <p>Este fue el <strong>segundo invierno(crisis) de la IA</strong>. Las empresas perdieron el interés por los sistemas expertos. Los gobiernos de Estados Unidos y Japón abandonaron sus proyectos de investigación y se gastaron miles de millones de dólares para nada.</p>
        
    
    <h3 id="90s">Década de 1990</h3>
    <p>Durante la década de 1990, el enfoque en el aprendizaje automático y las redes neuronales resurgió con el desarrollo de algoritmos como las máquinas de vectores de soporte (SVM) y las redes neuronales convolucionales (CNN). Estos avances sentaron las bases para una nueva ola de aplicaciones de IA en áreas como la minería de datos, la detección de fraudes y el reconocimiento de patrones.</p>
    <p>En <strong>1997</strong>, la historia de la IA estuvo marcada por un acontecimiento importante. La IA Deep Blue de IBM triunfó sobre el campeón mundial de ajedrez Garry Kasparov. Por primera vez, el hombre fue derrotado por la máquina.</p>
    
    <h3 id="00s">Década de 2000</h3>
    <p>En la década de 2000, el surgimiento del concepto de "Big Data" impulsó el desarrollo de técnicas de IA capaces de manejar y procesar grandes volúmenes de datos. Además, se produjeron avances significativos en el campo del aprendizaje profundo, una rama del aprendizaje automático que utiliza redes neuronales profundas para aprender representaciones de datos de alto nivel. Estos avances permitieron a los sistemas de IA realizar tareas más complejas y sofisticadas, como el reconocimiento de imágenes, la traducción automática y la conducción autónoma.</p>

    <h3 id="10s">Década de 2010</h3>
    <p>La década de 2010 fue testigo de un rápido avance en la adopción de la inteligencia artificial en una variedad de aplicaciones prácticas. Los algoritmos de IA se utilizaron cada vez más en áreas como la atención médica, la banca, el comercio electrónico y la publicidad en línea. Además, hubo avances significativos en el desarrollo de asistentes virtuales y sistemas de reconocimiento de voz, como Siri de Apple, Alexa de Amazon y Google Assistant, que se convirtieron en parte integral de la vida cotidiana de millones de personas en todo el mundo.</p>
    <p>En <strong>2012</strong>, Andrew Ng alimentó una red neuronal con 10 millones de vídeos de YouTube como serie de datos de entrenamiento. Gracias al Deep Learning, esta red neuronal aprendió a reconocer un gato sin que se le enseñara lo que es un gato.</p>
    <p>En <strong>2014</strong> un ordenador ha logrado superar con éxito el test de Turing, haciendo creer a un interrogador que es una persona quien responde sus preguntas en un certamen organizado en Londres por la Universidad de Reading.</p> 
    <p>En <strong>2016</strong> un ordenador de Google venció al campeón mundial del juego milenario “Go”. Un programa informático desarrollado por la compañía británica Google DeepMind consiguió vencer, por primera vez, a un campeón profesional del milenario juego de origen oriental Go.</p>

    <figure>
        <img src="/images/timeline.png" alt="Linea de tiempo de la historiade la IA">
    </figure>

    <h3 id="now">Actualidad</h3>
    <p>La década de 2020 ha sido testigo de una mayor integración de la inteligencia artificial en la sociedad, impulsada por la transformación digital en diversos sectores. Los avances en el procesamiento del lenguaje natural, la visión por computadora y el aprendizaje automático han llevado a la creación de sistemas de IA cada vez más sofisticados y autónomos. Sin embargo, también ha habido un mayor énfasis en la ética y la responsabilidad en el desarrollo y uso de la IA, especialmente en áreas sensibles como la privacidad de los datos, el sesgo algorítmico y la toma de decisiones automatizada.</p>
    <p>En la actualidad, la inteligencia artificial está presente en todos los aspectos de la vida, desde la atención médica y la educación hasta el entretenimiento y la seguridad. Los sistemas de IA alimentan plataformas de redes sociales, recomendaciones de contenido en línea, vehículos autónomos, sistemas de detección de fraudes y mucho más. A medida que la tecnología continúa avanzando, es probable que la inteligencia artificial siga desempeñando un papel cada vez más importante en la sociedad, con implicaciones tanto positivas como desafiantes que deben abordarse de manera proactiva y ética.</p>
    <%- include("./partials/buttons.ejs") %>
    </article>  

<%- include("./partials/footer.ejs") %>