<%- include("./partials/header.ejs") %>
    
    <article>
    <h2>Diseño Efectivo de Prompts: Creación de Instrucciones claras y precisas.</h2>

    <h3 id="diseño">Diseño Efectivo de Prompts: </h3>
    <p>En el campo de la ingeniería de prompt, el diseño efectivo de prompts es fundamental para obtener resultados precisos y relevantes al utilizar modelos de lenguaje como ChatGPT. Crear prompts claros y precisos implica entender la tarea deseada, comunicarla de manera efectiva al modelo y proporcionar la orientación necesaria para obtener la respuesta deseada.</p> 
    
    <h3 id="instrucciones">¿Cómo dar instrucciones claras y precisas?</h3>
    <ul>
        <li value="1"><h4>Comprender la tarea: </h4>
            <p>Antes de diseñar un prompt, es crucial comprender completamente la tarea que se desea realizar. Esto implica: </p>
            <ul>
                <li>identificar el propósito de la tarea, </li>
                <li>los requisitos específicos</li>
                <li>y el tipo de respuesta esperada. </li>
            </ul>
            <p>Por ejemplo, si la tarea implica generar un resumen de un artículo, es importante conocer los puntos clave del artículo y la longitud deseada del resumen.</p>
        </li>
        <li value="2"><h4>Identificar las palabras claves:</h4>
            <p>Las palabras clave son elementos esenciales en un prompt, ya que ayudan a dirigir la atención del modelo hacia aspectos específicos de la tarea. Estas palabras deben ser relevantes y específicas para la tarea en cuestión. Por ejemplo, si la tarea implica escribir un poema sobre el amor, palabras clave como "amor", "pasión", "corazón" pueden ser incluidas en el prompt.</p>
        </li>
        <li value="3">
            <h4>Proporcionar contexto relevante:</h4>
            <p>El contexto es fundamental para que el modelo comprenda la tarea y genere una respuesta precisa. Esto puede incluir:</p>
            <ul>
                <li>información adicional sobre el tema,</li>
                <li>el propósito de la tarea </li>
                <li>y cualquier restricción relevante.</li>
            </ul>
            <p>Por ejemplo, si la tarea implica traducir un texto, es importante especificar los idiomas de origen y destino, así como el tipo de texto a traducir.</p>
        </li>
        <li value="4">
            <h4>Establecer restricciones:</h4>
            <p>Es importante establecer restricciones claras en el prompt para guiar la generación de texto del modelo. Estas restricciones pueden incluir:</p>
            <ul>
                <li>limitaciones en cuanto a la longitud de la respuesta,</li>
                <li>el estilo de redacción </li>
                <li>o incluso la exclusión de ciertos temas.</li>
            </ul>
        </li>
        <li value="5">
            <h4>Establecer un rol:</h4>
            <p>Si bien no es 100% necesario al darle un rol especifico en el prompt lo que hará es “ponerse un filtro” a la hora de generar la respuesta correcta. Algunos ejemplos de roles son:</p>
            <ul>
                <li>Asistente laboral</li>
                <li>Asistente de Investigación</li>
                <li>Editor de Texto</li>
                <li>Programador</li>
                <li>Analista de Datos</li>
                <li>Facilitador de tomas de decisiones.</li>
            </ul>
            <p>Por ejemplo, si la tarea implica generar un diálogo, se pueden establecer restricciones en cuanto al número de turnos de diálogo o la longitud total del intercambio.</p>
        </li>
    </ul>
    

    <h3 id="ejemplos">Ejemplos y mejores practicas</h3>
    <ul>
        <li><strong>Prompt para Resumen de Texto:</strong> "Resume los hallazgos principales de este estudio en no más de 100 palabras. El estudio analiza el impacto del cambio climático en la biodiversidad marina."</li>
        <li><strong>Prompt para Generación de Diálogos: </strong>"Simula una conversación entre un cliente y un agente de servicio al cliente para resolver un problema de facturación. El cliente está molesto por un cargo incorrecto en su factura."</li>
        <li><strong>Prompt para Traducción Automática: </strong>"Traduce el siguiente párrafo del español al inglés. El texto trata sobre las nuevas tecnologías en el campo de la medicina."</li>
        <li><strong>Prompt para Generación de Poemas: </strong>"Escribe un poema sobre la belleza de la naturaleza. Incluye imágenes de árboles, flores y ríos."</li>
    </ul>
    <%- include("./partials/buttons.ejs") %>
    </article>  

<%- include("./partials/footer.ejs") %>