<footer>
    <a href="/<%= parseInt(id)-1 %>" <%= id == 1 ? "hidden" : "" %> >
        <button>Anterior</button>
    </a>
    <a href="/<%= parseInt(id)+1 %>" <%= id == 10 ? "hidden" : "" %> >
        <button>Siguiente</button>
    </a>
</footer>