<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/d1.css">
    <title>Curso IA y ChatGPT</title>
</head>
<body>
    <header>
        <h1>Temario: Curso Inteligencia artificial y ChatGPT</h1>
    </header>
    
    <details class='sumario'>
    <summary>Índice</summary>
      <nav>
        <ol>
          <li>
            <details>
              <summary>Inteligencia Artificial, conceptos fundamentales</summary>
              <ol>
                <li><a href="/1/inteligencia">¿Qué es la inteligencia?</a></li>
                <li><a href="/1/#IA">¿Qué es la inteligencia artificial?</a></li>
                <li><a href="/1/#diferencias">Diferencias entre Inteligencia Artificial e Inteligencia Natural	3</a></li>
                <li><a href="/1/#origen">Origen</a></li>
                <li><a href="/1/#naturaleza">Naturaleza</a></li>
              </ol>
            </details>
          </li>
          <li>
            <details>
              <summary>Historia de la inteligencia artificial. Inicio y actualidad</summary>
              <ol>
                <li><a href="/2/#">Década de 1950</a></li>
                <li><a href="/2/#">Década de 1960-1970</a></li>
                <li><a href="/2/#">Década 1980</a></li>
                <li><a href="/2/#">Década 1990</a></li>
                <li><a href="/2/#">Década 2000</a></li>
                <li><a href="/2/#">Década 2010</a></li>
                <li><a href="/2/#">Actualidad</a></li>
              </ol>
            </details>
          </li>
          <li><a href="/">Volver al inicio</a></li>
        </ol>
      </nav>
    </details>

    <!-- 
Machine Learning y Redes Neuronales	7
¿Qué es y cómo funciona el Machine Learning?	7
¿Qué son y cómo funcionan las Redes Neuronales?	7
ChatGPT. Origen, Evolución y Diferencia entre versiones	9
Todas sus versiones	9
Prompt definición y conceptos	9
¿Qué es un Prompt?	9
Componentes de un Prompt	10
Aplicación de Prompt en tareas especificas	10
Diseño Efectivo de Prompts: Creación de Instrucciones claras y precisas.	11
¿Cómo dar instrucciones claras y precisas?	11
Ejemplos y mejores practicas	12
Optimización y Ajuste de Prompts en Ingeniería de Prompt	12
Pasos para la optimización de un Prompt	12
Formatos de salida	13
Evaluación de Prompts	14
Estrategias para mantener conversaciones con ChatGPT	14
¿En qué casos usar ChatGPT?	15

    -->